<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://gtan.azurewebsites.net/schema/server"
        xsi:schemaLocation="http://gtan.azurewebsites.net/schema/server
                            http://gtan.azurewebsites.net/schema/server/settings.xsd">
    
    <servername>Example Testserver</servername>
    <maxplayers>20</maxplayers>
    
    <resource src="freeroam" />
    <resource src="speedometer" />
</config>